
/* ================================
Services
================================= */
.service.carousel h4,.service.carousel p {
	text-align: left;
}


.service .carousel-control{
	background: none;
}

.service .screenshot{
	overflow: hidden;
	overflow: hidden;
	
	margin-right: auto;
	margin-left: auto;
}

.service .screenshot img{
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	width: 900px;
}

.service .carousel-indicators {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 8px;
	width: 100%;
	background: #ffffff00;
}

.service .carousel-indicators .active {
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
}

.service .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
	background: #cdf8cd;
	text-indent: -999px;
	cursor: pointer;
}

