/*Este archivo es para el estilo de la pagina*/
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .3s linear;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    text-decoration: none;
    display: flex;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    background-color: rgb(250, 246, 0);
}

button:hover{
    text-decoration: none;
    font-size: 1.10em;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(250, 246, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 0, 0);
}

#btnPlana{
    text-decoration: none;
    display: flex;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    background-color: rgb(250, 246, 0);
}

#btnPlana:hover{
    text-decoration: none;
    font-size: 1.50em;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: white;
    background-color: rgb(250, 0, 0);
}

#btnDocumento:hover{
    font-size: 1.50em;
    border-radius: 100px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: white;
}



/* barra menu */
.container{
    max-width: 1400px;
    margin: auto;
    
}


header{
    z-index: 1000;
    background-color: rgba(54, 207, 80, 0.473);
}

header .logo{
    margin: 1;
    padding: 3px 3px;
    font-weight: bold;
    font-size: 1em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 12px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

header a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.25em;
}

p{
    text-align: justify;
}

/*diseño quienes somos*/
#quienes_somos .container{
    text-align: center;
    padding: 7px 12px;
}

#quienes_somos{
background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    text-align: justify;
}


/*diseño mision y vision*/
#mision_vision .container{
    text-align: justify;
    padding: 7px 12px;
}

#mision_vision{
    background-color: rgba(54, 207, 80, 0.473);
    color: rgb(0, 0, 0);
}


/*diseño nuestra historia*/
#nuestra_historia .container{
    text-align: justify;
    padding: 50px 5px;
}

#nuestra_historia{
    background-image: linear-gradient(
        0deg,
        rgba(179, 179, 179, 0.571),
        rgba(7, 7, 7, 0)
    )
    ,url("img/fondoHistoria.jpg");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 249rem;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    height: 978px;
}

#nuestra_historia .img-container {
    border-radius: 60px 11px 11px 60px;
    background-image: url(img/imagenInternoColegio.jpg);
    background-size: cover;
    background-position: center center;
    height: 165px;
    width: 250px;
}

            /*diseño nuestra historia*/
            #nuestra_historia .imagenes-historia {
                background-color: rgba(54, 207, 80, 0.473);
                width: 100rem;
                border-radius: 80px 11px 11px 80px;
                padding: 29px 92%;
                width: 50%;
                max-width: 600px;
                text-align: initial;
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            #nuestra_historia .texto {
                width: 100%;
                max-width: 839px;
                text-align: initial;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 7px 12px;
            }


/*diseño documentos de gestion*/
#documentos .container{
    text-align: justify;
    padding: 10px 15px;
    position: center;
}


/*imagenes de descargar*/
#imagendocumentos .container{
    padding: 20px 200px;
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
}

#imagendocumentos .container{
    text-align: center;
    padding: 17px;
}

#imagendocumentos{
background-color: rgba(54, 207, 80, 0.473);
    color: rgb(0, 0, 0);
    text-align: center;
}

#documentos{
    background-color: rgba(54, 207, 80, 0.473);
    color: rgb(0, 0, 0);
    
}

/*diseño organigrama*/
    #organigrama .container{
        display: flex;
        justify-content: space-evenly;
    }

    #organigrama .img-container{
        background-image: url("img/organigramaColegio.jpg");
        background-size: cover;
        background-position: center center;
        height: 230px;
        width: 345px;
        margin-top: 32px;
        background-size: 34rem;
        background-repeat: no-repeat;
    }

/*diseño Plana docenete*/
#planaDocente{
    background-color: rgb(240, 240, 240);
    padding: 1px;
    color: rgb(0, 0, 0);
    text-align: center;
}

/*diseño ideario institucional*/
#ideario .container{
    text-align: justify;
    padding: 100px 12px;
}

#ideario{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}

/*diseño Niveles formativos*/
#niveles_formativos h2{
    font-size: 2.7em;
}

#niveles_formativos{
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 100px;
}

/*diseño Horario de la E.I.*/
#actividades .container{
    text-align: justify;
    padding: 100px 12px;
}

#actividades{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;


}

        /* orientacion y posicion de horario de la IE */
        #actividades .container{
            display: flex;
            justify-content: space-evenly;
            padding: 1px 1px;
        }
    
        #actividades .imagen1{
            border-radius: 20px;
            background-image: url("img/horarioEstudiantes.png");
            background-repeat:no-repeat;
            background-position-x:center;
            background-position-y:center;
            background-size: 38rem;
            height: 300px;
            width: 600px; 
        }
    
        #horario .container{
            display: flex;
            justify-content: space-evenly;
        }
    
        #horario .imgxd2{
            border-radius: 10px;
            background-image: url("img/horarioPapas.png");
            background-repeat:no-repeat;
            background-position-x:center;
            background-position-y:center;
            background-size: 37rem;
            height: 209px;
            width: 369px;
        }


#contactenos .container{
    padding: 150px 12px;
}

#contactenos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#contactenos p{
    display: none;
}

#contactenos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

/* pie de pagina */
footer{
    background-color: rgb(57, 180, 75);
    padding: 1px 1px;
}

footer p{
    color: rgb(0, 0, 0);
}

footer .container{
    height: 115px;
    justify-content: center;
    align-items: center;

}





/* PANTALLAS MEDIANAS */
@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
        text-align: center;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
        margin: 0px auto;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    /* orientacion y posicion de quienes somos */
    #quienes_somos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quienes_somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quienes_somos h2{
        margin-top: 0px;
    }

    #quienes_somos .img-container{
        border-radius: 20px 20px 20px 20px;
        background-image: url("img/directorColegio.jpg");
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 355px;
        margin-top: 171px;
    }
    

    /*orientacion y posicion de nuestra historia*/
    #nuestra_historia .container{
        display: flex;
        justify-content: space-evenly;
    }

    #nuestra_historia .texto {
        padding-right: 40px;
    }

    #nuestra_historia h2{
        margin-top: 0px;
        
    }

    #nuestra_historia .imagenes-historia {
        background-color: rgba(54, 207, 80, 0.473);
        border-radius: 80px 11px 11px 80px;
        padding: 50px 10px;
        text-align: initial;
        width: 333px;
        padding-left: 12px;
    }

    #nuestra_historia .img-container{
        border-radius: 60px 11px 11px 60px;
        background-image: url("img/imagenInternoColegio.jpg");
        background-size: cover;
        background-position: center center;
        height: 148px;
        width: 254px;
    }


    /*orientacion y posicion de documentos de gestion*/
    #documento2 .img-container{
        width: 150px;
        height: 150px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        display: inline-block;
        justify-content: space-between;
    }

    /*imagenes de descargar*/
    #imagendocumentos .container{
        padding: 1px 1px;
        display: flex;
        justify-content: space-evenly;
        justify-content: space-around;
    }

    #imagendocumentos .img-container{
        background-image: url("img/archivoDescarga.png");
        background-size: cover;
        background-position: center center;
        height: 177px;
        width: 117px;
    }


    /*orientacion y posicion de organigrama*/
    #organigrama .texto {
        text-align: center;
        align-content: center;
    }

    #organigrama .img-container{
        max-width: 670px;
        background-image: url(img/organigramaColegio.jpg);
        background-repeat: no-repeat;
        background-size: 55rem;
        background-position: center center;
        height: 364px;
        width: 995px;
    }

    /* orientacion y posicion de ideario institucional */
    #ideario .container{
        display: flex;
        justify-content: space-evenly;
    }

    #ideario .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 30px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #ideario h2{
        margin-top: 0px;
    }

    #ideario .img-container{
        border-radius: 20px;
        background-image: url("img/idearioInstitucional.jpg");
        background-size: cover;
        background-position: center center;
        height: 800px;
        width: 600px; 
    }

        /* orientacion y posicion de horario de la IE */
        #actividades .container{
            display: flex;
            justify-content: space-evenly;
            padding: 10px 1px;
        }
    
        #actividades .imagen1{
            border-radius: 20px;
            background-image: url("img/horarioEstudiantes.png");
            background-size: cover;
            background-position: center center;
            background-repeat:no-repeat;
            background-size: cover;
            background-position: center center;
            height: 800px;
            width: 900px; 
            margin-top: 32px;
            background-size: 54rem;
        }
    
        #actividades .imagen2{
            background-image: url(img/imagenHorarioEstudiante.png);
            background-position: center center;
            height: 874px;
            width: 343px;
            background-repeat: no-repeat;
            background-size: 30rem;
        }

        #horario .container{
            display: flex;
            justify-content: space-evenly;
        }
    
        #horario .imgxd1{
            border-radius: 10px;
            background-image: url("img/papaHijo.png");
            background-size: cover;
            background-position: center center;
            margin-bottom: 30px;
            height: 447px;
            width: 450px;
            margin-top: 66px;
        } 
        
    
        #horario .imgxd2{
            border-radius: 10px;
            background-image: url("img/horarioPapas.png");
            background-size: cover;
            background-position: center center;
            height: 250px;
            width: 450px;
            background-size: 37rem;
        }

        #horario .imgxd3{
            border-radius: 10px;
            background-image: url(img/cronogramaEscolar.png);
            background-size: cover;
            background-position: center center;
            height: 202px;
            width: 451px;
            background-repeat: no-repeat;
            background-size: 37rem;
        }

    #final h2{
        font-size: 5em;
    }


    footer .container{
        justify-content: flex-end;
    }
}





/* PANTALLAS MAS GRANDES */
@media (min-width: 1200px) {
            header{
                position: fixed;
                width: 100%;
                text-align: center;
            }

            header .container {
                flex-direction: row;
                justify-content: space-between;
                margin: 0px auto;
            }

            /*diseño quienes somos*/
            #quienes_somos .container{
                text-align: center;
                padding: 127px 1px;
            }

            #quienes_somos .img-container {
                border-radius: 20px 20px 20px 20px;
                background-image: url(img/directorColegio.jpg);
                background-size: cover;
                background-position: center center;
                height: 351px;
                width: 443px;
                margin-top: 27px;
            }

            /*diseño mision y vision*/
            #mision_vision .container{
                text-align: justify;
                padding: 30px 12px;
            }

            #mision_vision{
                background-color: rgba(54, 207, 80, 0.473);
                color: rgb(0, 0, 0);
            }

            #quienes_somos{
            background-color: rgb(240, 240, 240);
                color: rgb(0, 0, 0);
                text-align: justify;
            }

            /* orientacion y posicion de horario de la IE */
            #actividades .container{
                display: flex;
                justify-content: space-evenly;
                padding: 10px 1px;
            }
        
            #actividades .imagen1{
                border-radius: 20px;
                background-image: url("img/horarioEstudiantes.png");
                background-size: cover;
                background-position: center center;
                height: 800px;
                width: 900px; 
                background-repeat:no-repeat;
                background-size: 80rem;
                
            }

            #horario .imgxd1 {
                border-radius: 10px;
                background-image: url(img/papaHijo.png);
                background-size: cover;
                background-position: center center;
                margin-bottom: 30px;
                height: 672px;
                width: 461px;
                margin-top: 12px;
            }

            #horario .imgxd2 {
                border-radius: 10px;
                background-image: url(img/horarioPapas.png);
                background-size: cover;
                background-position: center center;
                height: 299px;
                width: 539px;
            }

            #horario .imgxd3 {
                border-radius: 10px;
                background-image: url(img/cronogramaEscolar.png);
                background-size: cover;
                background-position: center center;
                height: 299px;
                width: 539px;
            }

            /*diseño nuestra historia*/
            #nuestra_historia .container{
                text-align: justify;
                padding: 50px 5px;
            }

            
            #nuestra_historia .imagenes-historia {
                background-color: rgba(54, 207, 80, 0.473);
                width: 100rem;
                border-radius: 80px 11px 11px 80px;
                padding: 29px 48%;
                width: 50%;
                max-width: 600px;
                text-align: initial;
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            #nuestra_historia .img-container {
                border-radius: 60px 11px 11px 60px;
                background-image: url(img/imagenInternoColegio.jpg);
                background-size: cover;
                background-position: center center;
                margin-bottom: 30px;
                height: 257px;
                width: 459px;
            }

            #nuestra_historia .img-container2 {
                border-radius: 60px 11px 11px 60px;
                background-image: url(img/charla\ con\ padres\ de\ familia.jpg);
                background-size: cover;
                background-position: center center;
                height: 257px;
                width: 459px;
            }

            #nuestra_historia .texto {
                width: 100%;
                max-width: 600px;
                text-align: initial;
                padding-right: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            #nuestra_historia {
                background-image: linear-gradient( 0deg, rgba(179, 179, 179, 0.571), rgba(7, 7, 7, 0) ) ,url(img/fondoHistoria.jpg);
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 180rem;
                color: rgb(0, 0, 0);
                text-align: center;
                width: 100%;
                padding: 0px 40px;
                height: 752px;
            }

            /*diseño organigrama*/
            #organigrama .img-container {
                max-width: 1167px;
                background-image: url(img/organigramaColegio.jpg);
                background-repeat: no-repeat;
                background-size: 86rem;
                background-position: center center;
                height: 660px;
                width: 1184px;
            }

}
