/*Este archivo es para el slide del testimonio*/
.sliderTestimonios {
    /*background-color: rgb(240, 240, 240);*/
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
}
.sliderTestimonios{
  width: 100%;
  height: 900%;
  overflow: hidden;
}
.sliderTestimonios ul{
    display: flex;
    animation: cambio 15s infinite alternate linear;
    width: 400%;
}
.sliderTestimonios li{
    width: 100%;
    list-style: none;
}
.sliderTestimonios img{
    padding: 100px 400px;
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media only screen and (min-width:320px) and (max-width:849px){
.sliderTestimonios, .sliderTestimonios ul, .sliderTestimonios img{
    padding: 15px 10px;
    height: 200%;
    height: 100%;
}
}

@media (min-width: 850px){
    .sliderTestimonios {
        /*background-color: rgb(240, 240, 240);*/
        margin: 0;
        padding: 10px 10px;
        box-sizing: border-box;
    }
    .sliderTestimonios{
      width: 100%;
      height: 900%;
      overflow: hidden;
    }
    .sliderTestimonios ul{
        display: flex;
        animation: cambio 15s infinite alternate linear;
        width: 400%;
    }
    .sliderTestimonios li{
        width: 100%;
        list-style: none;
    }
    .sliderTestimonios img{
        width: 100%;
        padding: 1px 228px;
    }
    @keyframes cambio{
        0%{margin-left: 0;}
        20%{margin-left: 0;}
        
        25%{margin-left: -100%;}
        45%{margin-left: -100%;}
        
        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
        
        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }
}

@media (min-width: 1200px){
    .sliderTestimonios {
        /*background-color: rgb(240, 240, 240);*/
        margin: 0;
        padding: 10px 10px;
        box-sizing: border-box;
    }
    .sliderTestimonios{
      width: 100%;
      height: 900%;
      overflow: hidden;
    }
    .sliderTestimonios ul{
        display: flex;
        animation: cambio 15s infinite alternate linear;
        width: 400%;
    }
    .sliderTestimonios li{
        width: 100%;
        list-style: none;
    }
    .sliderTestimonios img{
        padding: 100px 400px;
        width: 100%;
        height: 100%;
    }
    @keyframes cambio{
        0%{margin-left: 0;}
        20%{margin-left: 0;}
        
        25%{margin-left: -100%;}
        45%{margin-left: -100%;}
        
        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
        
        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }
}
